@media screen and (max-width: 768px) {
  [aria-controls="navbarDropdown"] {
    display: block;
  }

  [aria-expanded="false"] ~ ul {
    display: none;
  }

  [aria-expanded="true"] ~ ul {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: -100;
    background-color: var(--white);
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
  }

  [aria-expanded="true"] ~ ul li {
    color: var(--font-color-base);
  }

  [aria-expanded="true"] ~ ul li a {
    margin: 0;
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

  .hero-header {
    background-position: right -100px top -250px;
  }

  .hero-wrapper {
    flex-direction: column;
  }

  .left-panel {
    text-align: center;
  }

  .actions {
    justify-content: center;
    margin-bottom: 20px;
  }

  .benefits-list {
    flex-wrap: wrap;
  }

  .banner-wrapper {
    flex-direction: column;
  }

  .banner-wrapper .image-container {
    max-width: 100%;
  }

  .banner-wrapper {
    height: auto;
  }

  .hub-spot-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .hub-spot-right {
    gap: 10px;
    align-items: center;
  }

  .hub-spot-right .person {
    text-align: center;
  }

  .hub-spot-right .description {
    align-items: center;
    text-align: center;
  }

  .hire-us-wrapper {
    flex-direction: column;
  }

  .pricing-plans {
    flex-direction: column;
  }

  .plan {
    align-items: center;
  }

  .plan-top h2 {
    text-align: center;
  }

  .hire-left {
    flex-direction: row;
  }

  .hire-phrase {
    margin-right: 0;
  }

  .hire-top, .hire-title {
    width: 100%;
  }

  .hire-bottom {
    width: 100%;
  }

  .ignore-br {
    display: none;
  }
}



@media screen and (max-width: 375px) {
  .nav-flex {
    flex-direction: column;
  }

  [aria-expanded="true"] ~ ul {
    gap: 20px;
  }

  .right-panel {
    width: 360px;
    height: 309px;
  }

  .company-logo.google {
    top: 0;
    left: 0;
  }

  .company-logo.atlassian {
    top: 0;
    left: 114px;
  }

  .company-logo.asana {
    top: 0;
    left: 248px;
  }

  .company-logo.paypal {
    top: 99px;
    left: 0;
  }

  .company-logo.weave {
    top: 99px;
    left: 184px;
  }

  .company-logo.google-a {
    top: 209px;
    left: 106px;
  }

  .company-logo.calendar {
    top: 219px;
    left: 239px;
  }

  .benefits-list {
    flex-direction: column;
  }

  .bullet-list {
    flex-direction: column;
    padding: 0 2.125rem;
  }

  .bullet {
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--size-30);
  }

  .top {
    width: auto;
  }

  .bullet .top .left-wing, .bullet .top .right-wing {
    display: none;
  }

  .banner {
    padding: 0 0 80px 0;
  }

  .container.banner-wrapper {
    padding: 0 15px;
  }

  .banner-two-wrapper img {
    width: 100%;
  }

  .hub-spot-left .hub-spot-woman {
    width: 262px;
    height: 300px;
    margin-left: 61px;
  }

  .hub-spot-left .dots {
    width: 141px;
    height: 261px;
    margin-top: 70px;
  }

  .brand-list {
    flex-direction: column;
    align-items: center;
  }

  .pricing-plans {
    padding: 0;
  }

  .plan-feature-top, .plan-feature-bottom {
    flex-direction: column;
  }

  .hire-left {
    flex-direction: column;
    text-align: center;
  }

  .hire-bottom {
    align-items: center;
  }

  .hire-person {
    align-items: center;
  }

  .form-group {
    flex-direction: column;
    align-items: stretch;
  }

  .form-group:last-child {
    flex-direction: row;
  }

  .privacy-button:last-child {
    display: none;
  }

  .form-group input[type="checkbox"] {
    margin-top: 0;
    margin-bottom: 100px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
  }

  .footer-address, .footer-index {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .footer-links {
    flex-direction: column;
  }

  .footer-socials {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--size-20);
    gap: 12px;
  }

  .footer-country {
    padding: 4px;
    flex-grow: 0.4;
    justify-content: center;
  }
}