.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
}

.navbar .container {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.navbar-brand {
  margin-right: auto;
  max-width: 200px;
}

.nav-link a {
  margin-right: var(--size-20);
  line-height: var(--size-20);
}

.nav-link a:hover {
  color: var(--blue);
}

.navbar-toggler {
  position: absolute;
  right: var(--size-20);
  top: var(--size-10);
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.navbar-toggler span {
  color: var(--black);
  font-size: var(--size-20);
  cursor: pointer;
  pointer-events: none;
}

[aria-controls="navbarDropdown"] {
  display: none;
}

.nav-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.hero-header {
  padding: var(--size-150) 0 0 0;
  background-image: url('../assets/abstract/hero-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 95%;
  position: relative;

}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.left-panel h2 {
  font-size: var(--size-50);
}

.left-panel p {
  margin-bottom: var(--size-30);
}

.left-panel .actions {
  display: flex;
  align-items: center;
  gap: var(--size-20);
}

.actions .action2, .benefit-item a {
  font-weight: 600;
  color: var(--blue);
}

.right-panel {
  position: relative;
  box-sizing: border-box;
  height: 406px;
  width: 477px;
}

.company-logo {
  position: absolute;
  background-color: var(--white);
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
  border-radius: 50%;
  animation: flyIn 0.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes flyIn {
  from {
    transform: translateY(100%);
    /* Start off the screen */
    opacity: 0;
    /* Start with opacity 0 */
  }

  to {
    transform: translateY(0);
    /* Move to the top */
    opacity: 1;
    /* Fade in while moving */
  }
}

.company-logo.google,
.company-logo.google-a {
  height: 60px;
  width: 60px;
}

.company-logo.atlassian,
.company-logo.asana,
.company-logo.paypal,
.company-logo.weave,
.company-logo.calendar {
  height: 80px;
  width: 80px;
}

.company-logo.google img,
.company-logo.google-a img {
  margin: 10px;
  height: 40px;
  width: 40px;
}

.company-logo.atlassian img,
.company-logo.asana img,
.company-logo.paypal img,
.company-logo.weave img,
.company-logo.calendar img {
  margin: 16px;
  height: 48px;
  width: 48px;
}

.company-logo.google {
  top: 10px;
  left: 64px;
}

.company-logo.atlassian {
  top: 10px;
  left: 175px;
  animation-delay: 0.1s;
}

.company-logo.asana {
  top: 10px;
  left: 380px;
  animation-delay: 0.2s;
}

.company-logo.paypal {
  top: 172px;
  left: 44px;
  animation-delay: 0.2s;
}

.company-logo.weave {
  top: 172px;
  left: 262px;
  animation-delay: 0.3s;
}

.company-logo.google-a {
  top: 290px;
  left: 155px;
  animation-delay: 0.3s;
}

.company-logo.calendar {
  top: 310px;
  left: 364px;
  animation-delay: 0.4s;
}

.benefits {
  padding-top: 120px;
  padding-bottom: 80px;
}

.benefits-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--size-50);
}

.block-text {
  text-align: center;
}

.block-text h2 {
  font-weight: 600;
  margin: 0 0 var(--size-10) 0;
}

.block-text p {
  margin: 0;
}

.benefits-list {
  display: flex;
  justify-content: center;
  padding: var(--size-10) var(--size-30);
  gap: var(--size-30);
}

.benefit-item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - var(--size-30));
  gap: var(--size-20);
  padding: var(--size-20);
  width: 100%;
}

.benefit-item:hover {
  transition: ease-in-out 0.3s;
  box-shadow: 0 0 20px rgba(48, 63, 100, 0.2);
}

.benefit-item img {
  width: var(--size-50);
}

.benefit-item h3 {
  font-size: var(--size-16);
  margin: 0;
}

.benefit-item p {
  font-size: var(--size-14);
  margin: 0;
}

.banner {
  padding: 0 30px 80px 30px;
}

.container.banner-wrapper {
  padding-right: 0;
}

.banner-wrapper {
  background-color: var(--bg-light);
  display: flex;
  gap: var(--size-10);
  align-items: center;
  height: 470px;
}

.banner-wrapper .left-panel {
  width: 100%;
  padding: var(--size-10) var(--size-30);
}

.banner-wrapper .left-panel h2 {
  font-size: var(--size-30);
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}

.image-container {
  display: flex;
  align-items: flex-end;
  width: 120%;
  height: 100%;
}

.why-me {
  padding-bottom: 80px;
}

.why-me-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--size-50);
}

.bullet-list {
  display: flex;
  justify-content: space-evenly;
}

.bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--size-20);
  padding: var(--size-20) 0;
  flex: 1;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--size-10);
}

.right-wing,
.left-wing {
  height: 1px;
  width: 100%;
  background-color: #e6e9f2;
}

.bullet:first-child .left-wing,
.bullet:last-child .right-wing {
  height: 0;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--bg-white);
}

.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--blue);
}

.banner-two-wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.banner-two-wrapper img {
  width: 90%;
}

.video-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  box-shadow: 0 0 20px rgba(48, 63, 100, 0.2);
  height: 70px;
  width: 70px;
  padding: 10px 0 10px 4px;
}

.hub-spot {
  padding-bottom: var(--size-150);
}

.hub-spot-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 60px;
  height: 100%;
}

.hub-spot-left {
  display: flex;
  flex-shrink: 0;
  height: 100%;
}

.hub-spot-left .hub-spot-woman {
  margin-left: 81px;
  width: 371px;
  height: 425px;
  flex-shrink: 0;
}

.hub-spot-left .dots {
  position: absolute;
  margin: 111px 224px 79.9px 28px;
  width: 200px;
  height: 369px;
  z-index: -100;
}

.hub-spot-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1 0 0;
  gap: 50px;
  height: 100%;
}

.hub-spot-right .description {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.hub-spot-right .description img {
  width: 100px;
}

.hub-spot-right .description h2 {
  font-weight: 500;
}

.hub-spot-right .person h3 {
  font-size: var(--size-18);
  font-weight: 700;
  margin-bottom: 0;
}

.brand {
  padding: 0 0 80px 0;
}

.brand-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 45px;
}

.brand-wrapper h2 {
  font-weight: 600;
  color: var(--font-color-base);
  text-align: center;
}

.brand-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 30px;
  padding: 0 30px;
  width: 100%;
}

.brand-item img {
  height: 40px;
}

.pricing {
  padding: 0 0 120px 0;
}

.pricing-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.pricing-plans {
  display: flex;
  align-items: flex-start;
  padding: 0 44px;
  gap: 30px;
  align-self: stretch;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  padding: 40px;
  box-shadow: 0px 0px 20px rgba(48, 63, 100, 0.2);
}

.plan-top {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.plan-top h2 {
  display: inline;
  font-weight: 500;
  margin: 0;
  font-size: var(--size-50);
}

.plan-top span {
  color: var(--font-color-base);
  font-size: var(--size-18);
}

.plan-top hr {
  width: 100%;
  margin: 0;
}

.plan-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

.plan-bottom span {
  color: var(--font-color-base);
}

.plan-features {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.plan-feature-top,
.plan-feature-bottom {
  display: flex;
  box-sizing: border-box;
}

.plan-feature-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
  padding: var(--size-16);
}

.plan-feature-item img {
  width: var(--size-50);
}

.plan-feature-item h2 {
  font-size: var(--size-16);
  margin: 0;
}

.plan-feature-item p {
  font-size: var(--size-14);
  margin: 0;
}

.hire-us {
  background-color: var(--bg-dark);
}

.hire-us-wrapper {
  display: flex;
  align-items: flex-start;
}

.hire-us-wrapper h2,
.hire-us-wrapper h3,
.hire-us-wrapper span {
  color: white;
}

.hire-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 60px;
  flex: 1;
  align-self: stretch;
}

.hire-top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hire-phrase {
  margin-right: 160px;
}

.hire-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.hire-person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
}

.hire-bottom .hire-person p {
  font-size: var(--size-12);
}

.hire-person-images {
  display: flex;
  align-items: center;
  gap: 30px;
}

.hire-person-images img {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.hire-person-images img:nth-child(3) {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.hire-right {
  display: flex;
  flex: 1;
  padding: var(--size-30);
}

.hire-right form {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 30px;
  border-radius: var(--size-10);
  background-color: var(--white);
}

.hire-right form h3 {
  color: var(--black);
  margin: 0;
  font-size: var(--size-16);
  font-weight: 700;
}

.hire-right form span {
  color: var(--font-color-base);
}

.form-data {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.form-field {
  display: flex;
  flex: 1;
}

.form-group .privacy-policy {
  display: flex;
  justify-content: flex-start;
  gap: var(--size-30);
}

.privacy-button a {
  font-size: var(--size-14);
  text-decoration: underline dotted;
}

.privacy-button a:hover {
  color: var(--blue);
}

.form-data .form-group input,
.form-data .form-group select,
.form-data textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #E6E8F2;
  flex: 1;
}

.form-group input[type="checkbox"] {
  transform: scale(1.7);
  border: 1px solid #E6E8F2;
  margin: 0;
  margin-top: 10px;
}

.form-data textarea {
  font-family: 'Inter', sans-serif;
}

.submit-button {
  display: flex;
  justify-content: center;
}

.footer {
  padding: 80px 30px 40px 30px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
}

.footer-wrapper hr {
  width: 100%;
}

.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  gap: 40px;
}

.footer-address {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-address img {
  width: var(--size-100);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: var(--size-10);
  color: var(--font-color-base);
}

.footer-top i {
  margin-right: 9px;
}

.footer-index {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.index-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.index-nav {
  display: flex;
  flex-direction: column;
  gap: var(--size-10);
}

.index-item h3 {
  font-size: var(--size-20);
  margin: 0;
}

.index-nav a:hover {
  color: var(--blue);
}

.text-flair {
  margin-left: 7px;
  padding: 0.25rem 0.625rem;
  font-size: 12px;
  color: var(--white);
  background-color: var(--text-flair-green);
  border-radius: 50px;
}

.index-nav span {
  background-color: var(--blue);
}

.footer-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 40px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
}

.footer-privacy {
  display: flex;
  gap: 6px;
}

.footer-privacy a:hover {
  color: var(--blue);
}

.footer-privacy span {
  color: var(--font-color-base);
}

.footer-socials {
  display: flex;
  gap: var(--size-20);
}

.social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: var(--bg-white);
  margin: 5px;
  transition: background-color 0.3s;
}

.social-link:hover {
  background-color: var(--bg-grey);
}

.social-link i {
  color: var(--font-color-base);
  transition: color 0.3s;
}

.social-link:hover i {
  color: var(--bg-white);
}

.footer-country {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: var(--bg-white);
  margin: 5px;
  transition: background-color 0.3s;
}

.footer-country span {
  color: var(--black);
  margin: 0 5px;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-20);
}

.footer-copyright p {
  text-align: center;
}